{
  "UpdateThreshold": 120,
  "Keys": [
    {
      "AuthKey": "nice key bro",
      "Zones": [
        {
          "ZoneId": "dfhmordntv8t4vb8snittvbies7nct7s47v",
          "Records": ["test2.domain.moe", "test.domain.moe", "tast.domain.moe"]
        }
      ]
    },
    {
      "AuthKey": "another pog key",
      "Zones": [
        {
          "ZoneId": "esyigod5tihdvtudn5gitvnecrasdadg",
          "Records": ["error.bababooey.com", "backend.bababooey.com", "bababooey.com"]
        }
      ]
    }
  ]
}
